---
layout: default
title: The Hypnotherapy Process
---

<h2>What to expect during a hypnotherapy session</h2>

{% include page-image.html image='shutterstock_155790596' %}

<p>At the beginning of your first hypnotherapy session, we will discuss the issues or development area you would like to work on, and how using hypnotherapy could help you to achieve your goals. Working together, we will decide on how a desirable and achievable outcome would look to you, and how to go about achieving this, supported by the use of hypnotherapy.</p>

<p>Depending on your individual circumstances, hypnotherapy is often a relatively short process, and this is something we would also discuss in your first session. The hypnotherapy techniques I use are evidence based and will be tailored to your unique circumstances and preferences and I will often ask you to complete supplementary exercises between sessions.</p>

<blockquote>People are not disturbed by events, but by the views they take of them.<cite>Epictetus (Greek Philosopher)</cite></blockquote>

<p>I frequently use cognitive behavioural hypnotherapy (CBH) techniques to help you review how you think and behave in a variety of situations, and how you might approach things differently. CBH sessions provide you with practical tools to help you develop the skills to enable you to manage emotional and behavioural responses effectively in everyday situations.</p>

<br/><br/>

<h2>Why do we use hypnosis?</h2>

{% include page-image.html image='shutterstock_159820730' %}

<p>Often, we may consciously wish to take action in relation to a negative behaviour pattern, for example smoking. At a conscious level, we know the health risks… and yet...still we continue to smoke. Over time, any repeated actions we take, be they good or bad, become automatic. Take smoking - the desire to light up is controlled by our "unconscious" mind, perhaps linked with a particular situation, location or time of day, without the need for conscious thought to be involved.</p>

<p>Using hypnosis to create a relaxed, receptive frame of mind, the hypnotherapist can communicate with your unconscious mind to suggest (based on your stated goals and outcomes) more beneficial, healthy alternatives behaviour to those that you no longer have a use for. Positive suggestions, in hypnosis, reach the level of your unconscious mind allowing you to access the individual resources you need to help you as you bring about the positive changes you wish to make.</p>
