---
layout: default
title: Uses of Hypnosis
---

<h2>Clinical uses</h2>

{% include page-image.html image='shutterstock_149669174' %}

<p>Hypnosis is applied in a clinical setting for many purposes, including...</p>

<ul class="square">
  <li>Pain relief</li>
  <li>Overcoming phobia</li>
  <li>Changing unwanted habits and behaviours</li>
  <li>Managing depression, stress and anxiety conditions</li>
  <li>Addressing emotional issues such as anger management, grief and loss</li>
</ul>

<br/><br/>

<h2>Self development</h2>

{% include page-image.html image='shutterstock_168877688' %}

<p>Hypnosis is also used for the purpose of developing and enhancing general well-being:</p>

<ul class="square">
  <li>Motivation</li> 
  <li>Goal setting</li>
  <li>Confidence building and developing appropriate assertive behaviour</li>
  <li>Self-awareness and personal development</li> 
  <li>Relaxation</li>
</ul>
