---
layout: default
title: What is Hypnosis?
---

<h2>The hypnotic state</h2>

{% include page-image.html image='shutterstock_82515154' %}

<p>It’s hard to describe the hypnotic state as everyone experiences this differently.  Generally speaking, most people can be hypnotised if they have the ability to pay attention to normal events.</p> 

<p>Brain scans have shown that the hypnotic experience is not the same as sleep, but similar to the kind of state you feel when you are caught up in reading a good book and your attention becomes narrowed and you become less “tuned in” to the things going on around you.</p>

<p>In a therapeutic setting, hypnosis is frequently associated with focussing on achieving a state of relaxation, where a person can be receptive to positive suggestions.  The content of any positive suggestions made are discussed and agreed between us, before hypnotherapy takes place, placing you firmly in control and helping you make the changes you wish to make.</p>

<p>No one can make you do anything in hypnosis, any more than they could in everyday life.  In fact, practising self-hypnosis helps us manage our behaviour and emotions more effectively.</p>

<br/><br/>

<h2>What is self-hypnosis?</h2>

{% include page-image.html image='shutterstock_68391931' %}

<p>Self-hypnosis allows you to purposefully achieve a focused, relaxed state on your own, where you can give yourself positive suggestions without the requirement for these to be given by another person, such as the hypnotherapist. Self-hypnosis is something I regularly practice myself for a variety of reasons. The ability to intentionally relax can in itself be an important step towards improving general health and well-being.</p>

<p>I teach self-hypnosis to all clients, for whom it is appropriate and who will benefit form learning this skill, using a variety of methods tailored to each individual.</p>

<br/><br/>

<fieldset>
  <legend>Useful resources</legend>
  <ul>
    <li><a href="http://www.bsch.org.uk" target="_blank">http://www.bsch.org.uk</a></li>
    <li><a href="http://www.cnhc.org.uk" target="_blank">http://www.cnhc.org.uk</a></li>
  </ul>
</fieldset>


