<form action="http://getsimpleform.com/messages?form_api_token={{ site.simple-form-token }}" method="post" enctype="multipart/form-data" id="contact-form" name="contact-form" class="panel radius">
  
  <input type='hidden' name='redirect_to' value='http://continuum-hypnosis.co.uk/thanks.html' />

  <div class="row">
    <div class="large-12 columns">
      <h3>Get in touch</h3>
      <p>Ask me a question, or arrange an appointment here...</p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Name
        <input id="name" name="name" type="text" placeholder="Your name" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Email
        <input id="email" name="email" type="email" placeholder="Your email address" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Phone
        <input id="phone" name="phone" type="tel" placeholder="Your phone number" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>How would you like to be contacted?
        <select id="contact" name="contact">
          <option value="no-preference">No Preference</option>
          <option value="phone-daytime">Phone (Daytime)</option>
          <option value="phone-evening">Phone (Evening)</option>
          <option value="email" selected>Email</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Enquiry
        <textarea id="enquiry" name="enquiry" rows="10" placeholder="What is your enquiry?"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="submit" value="Send" class="button expand secondary radius" />
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div id="response" name="response"></div>
    </div>
  </div>
</form>