<form class="panel callout radius">
  <div class="row">
    <div class="large-12 columns">
      <h3>Get in touch</h3>
      <p>Ask me a question, or arrange an appointment here...</p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Name
        <input type="text" placeholder="Your name" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Email
        <input type="text" placeholder="Your email address" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Phone
        <input type="text" placeholder="Your phone number" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Enquiry
        <textarea rows="10" placeholder="What is your enquiry?"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <a href="/" class="button expand secondary radius">Send</a>
    </div>
  </div>
</form>