<form id="contact-form" name="contact-form" method="post" class="panel callout radius">
  <div class="row">
    <div class="large-12 columns">
      <h3>Get in touch</h3>
      <p>Ask me a question, or arrange an appointment here...</p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Name
        <input id="name" name="name" type="text" placeholder="Your name" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Email
        <input id="email" name="email" type="email" placeholder="Your email address" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Phone
        <input id="phone" name="phone" type="tel" placeholder="Your phone number" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Enquiry
        <textarea id="enquiry" name="enquiry" rows="10" placeholder="What is your enquiry?"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="submit" value="Send" class="button expand secondary radius" />
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div id="response" name="response"></div>
    </div>
  </div>
</form>