---
layout: default
---

<div class="row">
  <div class="small-12 large-3 columns">
    <ul class="side-nav">
      {% for post in site.posts %}
        <li {% if post.title == page.title %} class="active" {% endif %}><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>    
  </div>
  
  <div class="small-12 large-9 columns">
    <h2>{{ page.title }}</h2>

    <h6>{{ page.author }}</h6>
    <p>{{ page.date | date: "%-d %B %Y" }}</p>

    <div>{{ content }}</div>

    <p class="signature">Julia</p>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'continuum-hypnosis';
    
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    
  </div>
</div>

